# Python bytecode
__pycache__/
*.pyc

# Proprietary test data
source.asn*

# Distutils artifacts
MANIFEST
build/
dist/

# Patches
*.patch

# Project files
.ropeproject
env/
dbg/
_testdir

# TODO
todo.txt
